@import "tailwindcss";

/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*    font-family: "Roboto Thin";*/
/*}*/

/*html,*/
/*body {*/
/*    height: 100%;*/
/*    width: 100%;*/
/*}*/

/*.btn {*/
/*    background-color: #b5b5ff;*/
/*    width: fit-content;*/
/*    height: fit-content;*/
/*    padding: 10px 20px;*/
/*    margin: 5px;*/
/*    border-radius: 5px;*/
/*}*/